@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Warranty Claim</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/css/vendor.bundle.addons.css">
    <link href="~/BootstrapTemplate/src/assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="~/BootstrapTemplate/src/assets/images/favicon.ico" />



    <script src="~/Scripts/jquery-validation-1.19.5/lib/jquery.js"></script>
    <script src="~/Scripts/jquery-validation-1.19.5/dist/jquery.validate.js"></script>
    <style>
        body {
            font-size: calc(0.75em + 1vmin);
        }

        .content-wrapper {
            background: #F3F3F3;
            padding: 0.5pc 0.7pc;
            width: 100%;
            flex-grow: 1;
        }
    </style>

</head>

<body>
    <!-- partial -->
    <div class="main-panel_reg">
        <!-- partial -->
       
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-md-12 grid-margin">
                             
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 grid-margin">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                E-Warranty Automotive Asiatic and Tru Automotive Co.,Ltd
                                            </div>
                                            <div class="col-md-3 grid-margin stretch-card average-price-card">
                                                <a  href="~/Warrantyregister/Index" style="width: -webkit-fill-available;">
                                                    <div class="card text-white" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); cursor: pointer;">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between pb-2 align-items-center">
                                                                <h2 class="font-weight-semibold mb-0"></h2>
                                                                <div class="icon-holder">
                                                                    <i class="fa fa-sitemap"></i>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="font-weight-semibold mb-0">ลงทะเบียนสินค้า</h5>
                                                                <p class="text-white mb-0"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-3 grid-margin stretch-card average-price-card">
                                                <a href="~/Inquiry/Index" style="width: -webkit-fill-available;">
                                                    <div class="card text-white" style="background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); cursor: pointer;">
                                                        <div class=" card-body">
                                                            <div class="d-flex justify-content-between pb-2 align-items-center">
                                                                <h2 class="font-weight-semibold mb-0"></h2>
                                                                <div class="icon-holder">
                                                                    <i class="mdi mdi-briefcase-outline"></i>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="font-weight-semibold mb-0">ตรวจสอบสถานะ</h5>
                                                                <p class="text-white mb-0"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-3">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-3 grid-margin stretch-card average-price-card">
                                                <a href="~/EditWarrantyregister/Index" style="width: -webkit-fill-available;">
                                                    <div class="card text-white" style="background: linear-gradient(130deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); cursor: pointer; ">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between pb-2 align-items-center">
                                                                <h2 class="font-weight-semibold mb-0"></h2>
                                                                <div class="icon-holder">
                                                                    <i class="fa fa-drivers-license"></i>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="font-weight-semibold mb-0">ข้อมูลส่วนตัว</h5>
                                                                <p class="text-white mb-0"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-3 grid-margin stretch-card average-price-card">
                                                <a href="~/Account/LogIn" style="width: -webkit-fill-available;">
                                                    <div class="card text-white" style="background: #5585b5; cursor: pointer;">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between pb-2 align-items-center">
                                                                <h2 class="font-weight-semibold mb-0"></h2>
                                                                <div class="icon-holder">
                                                                    <i class="fa fa-power-off"></i>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="font-weight-semibold mb-0">ออกจากระบบ</h5>
                                                                <p class="text-white mb-0"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                           
                        </div>
                       
                    </div>
                        <!-- content-wrapper ends -->

                    </div>
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">TRU&AAC</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
                        </div>
                    </footer>
                    <!-- partial -->


</body>
</html>
