@{
    ViewBag.Title = "Index";
    var listShop = ViewBag.listShop;

}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@


    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Warranty ShopPartner</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/assets/vendors/css/vendor.bundle.addons.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="~/BootstrapTemplate/src/assets/assets/images/favicon.ico" />
    <link rel="shortcut icon" href="~/BootstrapTemplate/src/assets/images/favicon.ico" />
    <link rel="stylesheet" href="~/BootstrapTemplate/src/assets/css/demo_1/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="~/Scripts/jquery-validation-1.19.5/lib/jquery.js"></script>
    <script src="~/Scripts/jquery-validation-1.19.5/dist/jquery.validate.js"></script>
    <link href="~/Css/LoadingSpinner.css" rel="stylesheet" />
    <style>
        @@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;1,500&display=swap");

        html body {
            font-family: 'Kanit', sans-serif;
        }

        html body {
            /*font-family: 'Kanit', sans-serif;*/
            font-size: calc(0.75em + 1vmin);
        }

        .content-wrapper {
            background: #F3F3F3;
            padding: 0.5pc 0.7pc;
            width: 100%;
            flex-grow: 1;
        }

        .container-fluid {
            margin-right: auto !important;
            margin-left: auto !important;
        }
    </style>

</head>
<body>
    <div class="main-panel_reg">
        <div class="content-wrapper" style="padding: 0.5rem 0.5rem;">
            <div class="row">
                <div class="col-md-12">
                    @*ประวัติการเคลม*@
                    <div class="card">
                        <h5 class="card-header"><b>Partner Shop</b></h5>
                        <div class="card-body" style="padding: 0px 1px;">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>#</th>
                                            <th><b>ร้านค้า</b></th>
                                            <th><b>ที่อยู่</b></th>
                                            <th><b>เบอร์โทร</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int rowShop = 1;
                                            foreach (var rowListShop in ViewBag.listShop)
                                            {
                                                <tr>
                                                    <td>@rowShop</td>
                                                    <td>@rowListShop.Name</td>
                                                    <td>@rowListShop.Address</td>
                                                    <td>@rowListShop.Telephone</td>
                                                </tr>
                                                rowShop++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">TRU&AAC</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
        </div>
    </footer>
</body>
</html>